<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delete Menu Item</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('list_restaurants') }}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if not session.username %}
                    <li><a href="{{url_for('show_login')}}">Login</a></li>
                    {% else %}
                    <li><a>{{session.username}}</a></li>
                    <li class="dropdown">
                        <img src="{{session.picture}}" alt="profile_pic" class="dropdown-toggle profile-pic"
                             data-toggle="dropdown"
                             role="button" aria-haspopup="true" aria-expanded="false">
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('show_logout')}}">Logout</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="page-header header">
                <h2>Delete Menu Item</h2>
            </div>
            <form action="{{url_for('delete_menu_item', restaurant_id=restaurant_id, menu_id=menu_id)}}"
                  class="form-horizontal"
                  method="post">
                <div class="form-group">
                    <span class="help-block">Are you sure you want to delete {{item.name}}?</span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" value="delete">Delete</button>
                    <button type="submit" class="btn btn-default" value="cancel">
                        <a href="{{url_for('view_restaurant_menu', restaurant_id=restaurant_id)}}" class="cancel-btn">Cancel</a>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>