<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('list_restaurants') }}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ url_for('new_menu_item',restaurant_id=restaurant_id) }}">Add New Menu Item</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session.username %}
                    {% if restaurant.user_id == session.user_id %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Restaurant<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('edit_restaurant',restaurant_id=restaurant_id) }}">Edit</a></li>
                            <li><a href="{{ url_for('delete_restaurant',restaurant_id=restaurant_id) }}">Delete</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% if not session.username %}
                    <p class="navbar-text">Login</p>
                    <li>
                        <a href="{{url_for('show_login')}}" style="padding:0px;">
                            <img src="{{ url_for('static', filename='user6.png') }}"
                                 alt="dummy-profile-pic" class="profile-pic" style="background-color:white;">
                        </a>
                    </li>
                    {% else %}
                    <p class="navbar-text">{{session.username}}</p>
                    <li class="dropdown">
                        <img src="{{session.picture}}" alt="profile_pic" class="dropdown-toggle profile-pic"
                             data-toggle="dropdown"
                             role="button" aria-haspopup="true" aria-expanded="false">
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('show_logout')}}">Logout</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="page-header header">
                <h2>{{restaurant.name}}</h2>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'success' %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <p><strong>Success! </strong>{{ message }}</p>
            </div>
            {% endif %}
            {% if category == 'warning' %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <p><strong>Warning! </strong>{{ message }}</p>
            </div>
            {% endif %}
            {% if category == 'error' %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <p><strong>Error! </strong>{{ message }}</p>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% for i in items %}
            <div class="restaurant">
                <div class="restaurantName">
                    <h4>{{i.name}}</h4>
                    <p>{{i.course}}</p>
                    <p>{{i.description}}</p>
                    <p>{{i.price}}</p>
                </div>
                {% if session.username %}
                {% if restaurant.user_id == session.user_id %}
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="{{url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=i.id)}}">Edit</a>
                        </li>
                        <li>
                            <a href="{{url_for('delete_menu_item', restaurant_id=restaurant.id, menu_id=i.id)}}">Delete</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>
</html>