* {
    /* border: solid black 1px !important; */
}

body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: sans-serif;
    background-color: #e9eaed;
}

.navbar {
    /* background-color: lightblue; */
    margin-top: 20px;
}

.restaurant {
    min-height: 50px;
    background-color: white;
}

.restaurantName {
    padding: 5px;
}
