<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-social.css') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('list_restaurants') }}">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"/>
                </a>
            </div>
        </nav>

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div id="loginPanel">
                <div class="page-header header">
                    <h2>Login/Create Your Account:</h2>
                </div>
                <div id="socialLogin" class="form-center">
                    <h5>Using Google:</h5>
                    <div id="gSignInButton" class="customGPlusSignIn">
                        <a class="btn btn-default btn-social btn-google">
                            <span class="fa fa-google"></span> Sign in with Google
                        </a>
                    </div>
                    <br>
                    <h5>Using Facebook:</h5>
                    <div id="fSignInButton">
                        <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer()">
                            <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                        </fb:login-button>
                    </div>
                </div>
            </div>
            <div id="result"></div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script>
    function renderButton() {
        gapi.signin.render('gSignInButton', {
            'scope': 'openid email',
            'clientid': '506344423173-ondopitsugevr6bpghn7vlipdi8r0bui.apps.googleusercontent.com',
            'redirecturi': 'postmessage',
            'accesstype': 'offline',
            'cookiepolicy': 'single_host_origin',
            'callback': 'signInCallback',
            'approvalprompt': 'force'
        });
    }
</script>
<script>
    function signInCallback(authResult) {
    if (authResult['code']) {
        // hide sign-in button once user is authorized
        $('#loginPanel').attr('style', 'display:none');
        $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
            })
            .done(function(result) {
                console.log("success");
                $('#result').html('Login successful!</br>' + result + '</br>Redirecting...');
                setTimeout(function() {
                    window.location.href = '/restaurant';
                }, 4000);
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
    }
}
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1740197756191851',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function sendTokenToServer() {
    $('#loginPanel').attr('style', 'display:none');
    var access_token = FB.getAuthResponse()['accessToken'];
    FB.api('/me', function(response) {
        $.ajax({
                url: '/fbconnect?state={{STATE}}',
                type: 'POST',
                data: access_token,
                contentType: 'application/octet-stream; charset=utf-8',
            })
            .done(function(result) {
                console.log("success");
                // Handle or verify the server response if necessary.
                if (result) {
                    $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                    setTimeout(function() {
                        window.location.href = "/restaurant";
                    }, 4000);
                } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
    });
}
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>